# Groq API Configuration
GROQ_API_KEY=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
GROQ_MODEL=openai/gpt-oss-120b

# Execution Control
MAX_RETRIES=2
DATABASE_URL=memory.db

# Observability - Logfire
LOGFIRE_TOKEN=xxxxx

# Observability - LangSmith
LANGCHAIN_TRACING_V2=true
LANGSMITH_API_KEY=lsv2_xxxxx
LANGSMITH_PROJECT=Rag_Lesson_Gen_Agent
