# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# ==========================================
# Virtual Environments
# ==========================================
.venv/
venv/
env/
ENV/

# Conda Environment
.env/
conda-meta/
*.conda

# ==========================================
# FastAPI
# ==========================================
logs/
*.log

# SQLite Database
*.db
*.sqlite3

# Environment Variables
.env
.env.*

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Testing & Coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# ==========================================
# Build / Distribution
# ==========================================
build/
dist/
*.egg-info/
.eggs/

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/


# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp
*.swp